@model  webMVC1.EF.Blog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Blog"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Sửa bài viết</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.bl_id)

    <div class="form-group">
        <label>Tên bài viết</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.bl_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bl_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Mô tả bài viết
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.bl_title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bl_title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Hình ảnh
        <div class="col-md-10">
            @Html.EditorFor(model => model.bl_image, new
       {
           htmlAttributes = new { @class = "form-control", @type = "file" }
       })
            @Html.ValidationMessageFor(model => model.bl_image, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Cụm 1
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextAreaFor(model => model.bl_desc1, new { htmlAttributes = new { @class = "form-control",@style="width:200px" } })
                @Html.ValidationMessageFor(model => model.bl_desc1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        Cụm 2
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextAreaFor(model => model.bl_desc2)
                @Html.ValidationMessageFor(model => model.bl_desc2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        Cụm 3
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextAreaFor(model => model.bl_desc3)
                @Html.ValidationMessageFor(model => model.bl_desc3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-danger" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
