
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TLayout.cshtml";
    var pizza = (List<webMVC1.EF.Product>)ViewBag.pizza;
    var popularMenu = (List<webMVC1.EF.Product>)ViewBag.popularMenu;
    var listfooter = (List<webMVC1.EF.Product>)ViewBag.footer;
    var listfooterT = (List<webMVC1.EF.Product>)ViewBag.footerT;
    var Ourchef = (List<webMVC1.EF.OurChefs>)ViewBag.ourchef;
    var listSlide = (List<webMVC1.EF.Slidebar>)ViewBag.listSlide;
    var listBlog = (List<webMVC1.EF.Blog>)ViewBag.listBlog;
}


<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="main-banner-item item-two">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    @foreach (var item in listSlide)
                    {
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="main-banner-content">
                                    <h1>Đây là 1 cửa hàng pizza 100% đảm bảo chất lượng</h1>
                                    <p>@item.title.</p>
                                    <div class="banner-btn">
                                        <a href="menu" class="default-btn">
                                            Xem thực đơn của chúng tôi
                                        </a>
                                        <a href="gio-hang" class="default-btn-two">
                                            Xem giỏ hàng
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="banner-image">
                                    <img src="/Content/SlideBar/@item.image" alt="image">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->
<!-- Start Chef Area -->
<section class="chef-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="chef-item">
                    <h3>Đến với chuỗi cửa hàng pizza của chúng tôi </h3>
                    <p>Đa dạng hương vị, hình thức đẹp mắt, đầy đủ năng lượng và dinh dưỡng,…đó là những lý do khiến Pizza vô cùng phổ biến và được bình chọn là một trong những món bánh được yêu thích nhất trên thế giới. Cho đến ngày nay người ta vẫn còn tranh cãi về nguồn gốc ra đời của món bánh này. Một số tư liệu cho rằng, bánh Pizza có tiền thân là những chiếc bánh làm bằng bột mì được nướng trên những phiến đá phẳng và nóng xuất hiện lần đầu tiên cũng như trở nên phổ biến tại Napoli – Ý vào khoảng 1000 năm trước. Nhưng một số tài liệu khác lại nói rằng người Roman (La Mã cổ đại) và người Phoenici của xứ Hy Lạp mới là những người đầu tiên đã chế biến thành công Pizza bởi họ vô tình biết được bí mật của công thức nhào bột với nước và nướng bánh trên đá sau đám cháy..</p>

                    <ul class="chef-list">
                        <li>
                            <i class="las la-hamburger"></i>
                            <span>Bánh pizza</span>
                        </li>
                        <li>
                            <i class="las la-ice-cream"></i>
                            <span>Các món tráng miệng </span>
                        </li>
                        <li>
                            <i class="las la-drumstick-bite"></i>
                            <span>Đồ uống</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="chef-image">
                    <img src="/Content/User/assets/img/chef.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Chef Area -->
<!-- Start Pizza Area -->
<section class="pizza-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="pizza-image">
                    <img src="/Content/User/assets/img/pizza/main-pizza.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="pizza-item">
                    <h3>Pizza</h3>
                    @foreach (var item in pizza)
                    {


                    <div class="pizza-list">
                        <div class="image">
                            <img width="50px;" height="50px" src="/Content/Image/@item.Images" alt="image">
                        </div>
                        <h4>
                            <a href="/them-gio-hang?productID=@item.ID&quantity=1">@item.Name</a>
                            <span class="price">@item.Price</span>
                        </h4>
                        <p>@item.DesCription</p>
                    </div>
                    }


                </div>
            </div>
        </div>
    </div>


</section>
<!-- End Pizza Area -->
<!-- Start Menu Area -->
<section class="menu-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>Các Món ăn đang giảm giá</h2>
            <p>Bạn hãy mua thật nhanh kẻo mọi người mua hết nhé....</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="menu-item">
                    @foreach (var item in popularMenu)
                    {


                    <div class="menu-list">
                        <div class="image">
                            <img src="/Content/Image/@item.Images" alt="image">
                        </div>
                        <h4>
                            <a href="/them-gio-hang?productID=@item.ID&quantity=1">@item.Name</a>
                            <span class="price">@item.Price</span>
                        </h4>
                        <p>@item.DesCription</p>
                    </div>
                    }

                </div>
            </div>

          
        </div>
    </div>
</section>
<!-- End Menu Area -->
<!-- Start Team Area -->
<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Các cá nhân  tiêu biểu của chúng tôi</h2>
            <p>Dưới đây là một số cá nhân tiêu biểu đóng góp rất lớn làm lên thương hiệu và công ty của chúng tôi.</p>
        </div>

        <div class="row">
            @foreach (var item in Ourchef)
            {


            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="image">
                        <img src="/Content/OurChef/@item.Image" alt="image">
                    </div>
                    <div class="content">
                        <h3>@item.Name</h3>
                        <span>@item.office</span>

                        <ul class="social">
                            <li>
                                <a href="@item.LinkFb" target="_blank">
                                    <i class="lab la-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@item.LinkSwithter" target="_blank">
                                    <i class="lab la-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@item.LinkInstagam" target="_blank">
                                    <i class="lab la-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@item.LinkInstagam" target="_blank">
                                    <i class="lab la-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</section>
<!-- End Team Area -->
<!-- Start Dishes Area -->
<section class="dishes-area pt-100 pb-70">
    <div class="container-fluid p-0">
        <div class="section-title">
            <h2>Các món ăn giảm giá và mới xuất hiện</h2>
            <p>Tôi khuyên các bạn đừng nên bỏ lỡ các món ăn tiêu biểu và giá lại phải chăng vừa với túi tiên của bạn.</p>
        </div>

        <div class="row">
            @foreach (var item in listfooter)
            {
            <div class="col-lg-3 col-sm-6">
                <div class="dishes-item">
                    <div class="image">
                        <a href="/them-gio-hang?productID=@item.ID&quantity=1">
                            <img src="/Content/Image/@item.Images" alt="image">
                        </a>
                    </div>

                    <div class="content">
                        <h3>
                            <a href="/them-gio-hang?productID=@item.ID&quantity=1">@item.Name</a>
                        </h3>
                        <span>@item.MetaTitle</span>

                        <div class="dishes-btn">
                            <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="default-btn">Add To Cart</a>
                            |
                            <a href="chi-tiet/@item.ID" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            }


        </div>
    </div>
</section>
<!-- End Dishes Area -->
<!-- Start Video Area -->
<div class="video-area">
    <div class="container">
        <div class="video-content">
            <a href="https://www.youtube.com/watch?v=qaHWDmFtBl0" class="video-btn popup-youtube">
                <i class="las la-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Video Area -->
<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Các bài viết mới trong tuần qua</h2>
        </div>

        <div class="blog-slider owl-carousel owl-theme">
            @foreach(var item in listBlog)
            {

            <div class="blog-item" style=" width:350px; height:100%">
                <div class="image">
                        <img src="/Content/Blog/@item.bl_image" alt="image">
                    <div class="date">
                        <span>@item.bl_create</span>
                    </div>
                </div>
                <div class="content">
                    <h3>
                            @item.bl_title
                    </h3>
                    <a href="/blog/blog_detail/@item.bl_id" class="blog-btn">Đọc ngay</a>
                </div>
            </div>
            }
           
        </div>
    </div>
</section>
<!-- End Blog Area -->
